
Data/RealWorldData/32377/boundary.geojson
Data/RealWorldData/32377/dem_full.tif
Data/RealWorldData/32377/raw-detections.geojson.gz
Data/RealWorldData/35516/boundary.geojson
Data/RealWorldData/35516/dem_full.tif
Data/RealWorldData/35516/raw_detections.geojson.gz
Data/RealWorldData/36502/boundary.geojson
Data/RealWorldData/36502/dem_native.tif
Data/RealWorldData/36502/detections_raw.geojson.gz
Data/RealWorldData/36507/boundary.geojson
Data/RealWorldData/36507/dem_full.tif
Data/RealWorldData/36507/orthomosaic_visible_10cm.tif
Data/RealWorldData/36507/raw_detections.geojson
Data/RealWorldData/36507/raw_detections.geojson.gz
Data/RealWorldData/36513/boundary.geojson
Data/RealWorldData/36513/detections_raw.geojson.gz
Data/RealWorldData/36513/visible_10cm.tif
Data/RealWorldData/41630/boundary.geojson
Data/RealWorldData/41630/dem_native.tif
Data/RealWorldData/41630/detections_raw.geojson.gz
Data/RealWorldData/43581/boundary.geojson
Data/RealWorldData/43581/dem_native.tif
Data/RealWorldData/43581/detections_raw.geojson.gz
Data/RealWorldData/43581/visible_10cm.tif
*.geojson
*.png
